<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="ChirpR"
    Manufacturer="ChirpR"
    Version="$(var.ProductVersion)"
    UpgradeCode="26544B7E-250E-4F97-B913-7EA9EB218AFA"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of ChirpR is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseSource)" />

    <Property Id="AUTOSTART" Value="0" Secure="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="ChirpR">
        <Directory Id="AssetsDir" Name="assets">
          <Directory Id="SoundsDir" Name="sounds" />
          <Directory Id="ModelsDir" Name="models">
            <Directory Id="ParakeetModelDir" Name="nemo-parakeet-tdt-0.6b-v3-int8" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuDir" Name="ChirpR" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="ChirpR" Level="1">
      <ComponentRef Id="AppBinaryComponent" />
      <ComponentRef Id="LauncherBinaryComponent" />
      <ComponentRef Id="ConfigComponent" />
      <ComponentRef Id="UninstallScriptComponent" />
      <ComponentRef Id="ProgramMenuShortcutComponent" />
      <ComponentRef Id="SoundAssetsComponent" />
      <ComponentRef Id="AssetsFolderCleanupComponent" />
      <ComponentRef Id="ModelsFolderCleanupComponent" />
      <ComponentRef Id="ModelAssetsComponent" />
      <ComponentRef Id="AutostartCleanupComponent" />
      <ComponentRef Id="AutostartRegistryComponent" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AppBinaryComponent" Guid="B9A27184-2B8A-4397-93C0-62CC5D64E1FA">
        <File Id="ChirpRustExe" Source="$(var.BinarySource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="AppBinary" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFile Id="RemoveInstallRootFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveInstallRootFolder" On="uninstall" />
      </Component>
      <Component Id="LauncherBinaryComponent" Guid="7E6D89B7-F666-4D28-9546-348F0E12A5EF">
        <File Id="ChirpRLauncherExe" Source="$(var.LauncherSource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="Launcher" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="ConfigComponent" Guid="C720B663-E392-4593-89A2-D46A4971D835">
        <File Id="ConfigToml" Source="$(var.ConfigSource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="Config" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="UninstallScriptComponent" Guid="3EAE34F1-8CC8-4A69-B120-26B33BC78C63">
        <File Id="UninstallCmdFile" Source="$(var.UninstallCmdSource)" />
        <File Id="UninstallPs1File" Source="$(var.UninstallScriptSource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="UninstallScript" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="AutostartCleanupComponent" Guid="33496D52-E230-4D0C-95F1-E4A3D591CF2E">
        <RegistryValue Root="HKCU" Key="Software\ChirpRust" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust" Name="InstallRoot" Type="string" Value="[INSTALLFOLDER]" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust" Name="ProductCode" Type="string" Value="[ProductCode]" />
        <RemoveRegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="ChirpRust" />
      </Component>
      <Component Id="AutostartRegistryComponent" Guid="6F36917B-6FAA-4568-9F94-D9069CE1853D" Condition="AUTOSTART = &quot;1&quot;">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="ChirpRust"
          Type="string"
          Value="&quot;[INSTALLFOLDER]chirpr.exe&quot;"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="AppProgramMenuDir">
      <Component Id="ProgramMenuShortcutComponent" Guid="D782B6E7-8AC1-4C60-B31E-BE98BFE21695">
        <Shortcut
          Id="LaunchChirpShortcut"
          Name="ChirpR"
          Target="[INSTALLFOLDER]chirpr.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <Shortcut
          Id="SettingsShortcut"
          Name="ChirpR Settings"
          Target="[SystemFolder]notepad.exe"
          Arguments="&quot;[INSTALLFOLDER]config.toml&quot;"
          WorkingDirectory="INSTALLFOLDER" />
        <Shortcut
          Id="UninstallShortcut"
          Name="Uninstall ChirpR"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="ProgramMenu" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="AssetsDir">
      <Component Id="AssetsFolderCleanupComponent" Guid="2B6989E2-0F0E-4F7A-890C-68E47D1E0E3A">
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="AssetsDir" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveAssetsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="SoundsDir">
      <Component Id="SoundAssetsComponent" Guid="1F8D9F5A-92B8-4206-A0CD-DDA7D98C1244">
        <File Id="PingUpSound" Source="$(var.PingUpSource)" />
        <File Id="PingDownSound" Source="$(var.PingDownSource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="Sounds" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFile Id="RemoveSoundsFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveSoundsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ModelsDir">
      <Component Id="ModelsFolderCleanupComponent" Guid="E8B9426E-9D49-4271-9F90-C41D29650F77">
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="ModelsDir" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveModelsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ParakeetModelDir">
      <Component Id="ModelAssetsComponent" Guid="A5812031-A835-443A-9774-FE33F84E7881">
        <File Id="ModelConfigJson" Source="$(var.ModelConfigSource)" />
        <File Id="ModelDecoderOnnx" Source="$(var.ModelDecoderSource)" />
        <File Id="ModelEncoderOnnx" Source="$(var.ModelEncoderSource)" />
        <File Id="ModelFeatureOnnx" Source="$(var.ModelFeatureSource)" />
        <File Id="ModelVocabTxt" Source="$(var.ModelVocabSource)" />
        <RegistryValue Root="HKCU" Key="Software\ChirpRust\Components" Name="Model" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFile Id="RemoveModelFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveModelFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
